html {
  scroll-behavior: smooth;
  scroll-padding-top: 140px;
  }

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #1a1819;
}

section {
  overflow: hidden;
}

.hero-section {
  height: calc(100vh - 88px);
}

.header {
  position: fixed;
  top: 0;
  transition: top ease 0.3s;
}

.recruit-section {
  height: auto;
}

/*navigation menu*/
#burger {
  display: none;
}

.nav-menu__container {
  position: relative;
}

.nav-menu__button {
  width: 30px;
  height: 28px;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease-in;
  line-height: 8px;
  font-family: "Poppins";
}

.nav-menu__button span {
  height: 2px;
  width: 100%;
  background: white;
  display: inline-block;
  transition: all 0.5s cubic-bezier(0.62, 0.43, 0.35, 1.47);
}

#burger:checked ~ .nav-menu__button span:nth-child(1) {
  width: 100%;
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

#burger:checked ~ .nav-menu__button span:nth-child(2) {
  width: 0;
  opacity: 0;
}

#burger:checked ~ .nav-menu__button span:nth-child(3) {
  width: 100%;
  transform: rotate(-45deg) translateY(-7px) translateX(7px);
}

.nav-menu {
  position: fixed;
  top: 88px;
  right: 0;
  z-index: 20;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  padding: 1rem 1.5rem;
  background-color: #1f1f1f;
}

.nav-menu ul {
  list-style-type: none;
  padding: 1rem;
}

.nav-menu a {
  display: block;
  text-decoration: none;
  color: white;
}

.nav-menu li {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #424242;
}

#burger:checked ~ .nav-menu {
  transform: translateX(0);
}

/*navigation menu hover effect*/
.link {
  position: relative;
  display: inline-block;
}

.link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: 0 100%;
}

/*block reveal animation*/
.reveal-text {
  margin: 0;
  overflow: hidden;
  height: 108%;
  line-height: 1;
}

[data-aos="custom-fade-up"] {
  display: block;
  opacity: 0;
  transform: translateY(100%);
}

[data-aos="custom-fade-up"].aos-animate {
  transform: translateY(0);
  opacity: 1;
}

[data-aos="custom-fade-right"] {
  transform: scaleX(0);
  transform-origin: 0% 100%;
  transition: transform 3s ease-in-out 0s;
}

[data-aos="custom-fade-right"].aos-animate {
  transform:scaleX(1)
}

/*breakpoint*/
@media screen and (max-width: 767px) {
  .hero-section {
    height: auto;
  }

}

@media screen and (min-width: 1536px){
  .recruit-section {
    height: calc(100vh - 400px);
  }
}
